<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<title>All Employees</title>

  <h2 id="all-employees-header">All Employees</h2>
  <div id="all-cards">
    <% employees.forEach(employee => { %>
      <div class="card">
        <img class="placeholder-img" src="/images/placeholder-image-person-jpg.jpeg" class="card-img-top" alt="placeholder img">
      <a href="/employees/<%= employee._id %>"><%= employee.eName %></a>
      <form method="POST" action="/employees/<%= employee._id %>?_method=DELETE">
        <button id="delete-button" type="submit">Delete This Employee</button>
      </form>
    </div>
      <br>
    <% }) %> 
  </div>


<%- include('../partials/footer') %>