<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<title><%= employee.eName %></title>

  <h1 id="employee-name"><%= employee.eName %></h1>
  <div id="ee-details-container">
    
    <div class="heading">Start Date:</div>
    <div><%= employee.startDate.toString().slice(0,15) %></div>
    <div class="heading">Title:</div>
    <div><%= employee.title %></div>
    <div class="heading">Department:</div>
    <div><%= employee.department %></div>
    <div class="heading">Location:</div>
    <div><%= employee.location %></div>
    <hr>
    <h2 class="heading">Performance Review: </h2>
    <% employee.perfRev.forEach(review => { %>
      <p>What is awesome about this employee?</p>
        <%= review.qOne %>
      <p>What can this employee improve?</p>
        <%= review.qTwo %>
      <p>Overall Rating (Choose 1-5):</p>
        <%= review.rating %>
    <% }) %>

      </div>
    
    <% if (user?.profile._id.equals(employee.owner._id)) { %>   
    <a id="update-employee-link" href="/employees/<%= employee._id %>/edit">Update Employee</a>
    <% } %> 

<%- include('../partials/footer') %>

