<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= employee.eName %></h1>
  <table>
    <thead>
      <tr>
        <th>Start Date</th>
        <th>Title</th>
        <th>Department</th>
        <th>Location</th>
        <th>Manager</th>
        <th>Performance Review</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= employee.startDate %></td>
          <td><%= employee.title %></td>
          <td><%= employee.department %></td>
          <td><%= employee.location %></td>

          <% employee.perfRev.forEach(review => { %>
            <p><%= review.qOne %>Question One</p>
            <p><%= review.qTwo %></p>
            <p><%= review.rating %></p>
            
          <% }) %>
        </tr>
    </tbody>
  </table>
</section>
<a href="/employees/<%= employee._id %>/edit">Update Employee</a>


<%- include('../partials/footer') %>

