<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <h1 id="employee-name"><%= employee.eName %></h1>
  <div id="ee-details-container">
    
    <div class="heading">Start Date:</div>
    <div><%= employee.startDate %></div>
    <div class="heading">Title:</div>
    <div><%= employee.title %></div>
    <div class="heading">Department:</div>
    <div><%= employee.department %></div>
    <div class="heading">Location:</div>
    <div><%= employee.location %></div>
    <hr>
    <h2 class="heading">Performance Review: </h2>
    <% employee.perfRev.forEach(review => { %>
          <p>What is awesome about this employee?<%= review.qOne %></p>
          <p>What can this employee improve?<%= review.qTwo %></p>
          <p>Overall Rating (Choose 1-5):<%= review.rating %></p>
          
        <% }) %>
      </div>
    <a id="update-employee-link" href="/employees/<%= employee._id %>/edit">Update Employee</a>


<%- include('../partials/footer') %>

