<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (self.avatar) { %>
    <div>
      <img 
        class="self-avatar"
        src="<%= self.avatar %>" 
        alt="<%= self.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : self.name %>!</h1>
<section>
  <h2>All Employees</h2>
  <ul>
    <% self.employees.forEach(employee => { %>
      <a href="/employees/<%= employee._id %>"><%= employee.eName %></a><br>
    <% }) %> 
  </ul>
</section>
</main>
<%- include('../partials/footer') %>
