<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (self.avatar) { %>
    <div>
      <img 
        class="self-avatar"
        src="<%= self.avatar %>" 
        alt="<%= self.name %> avatar"
      >
    </div>
  <% } %>
  <h1>Hi <%= self.name %>!</h1>
<section>
  <form action="">
  <h2>Your Direct Reports:</h2>
  <select name="" id="">
    <% self.employees.forEach(employee => { %>
    <option value="<%= employee._id %>"><%= employee.eName %>
    </option> 
    <% }) %> 
  </select>
  </form>
</section>
</main>
<%- include('../partials/footer') %>
