<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div id="profile-container">
    <div id="left">
      <% if (self.avatar) { %>
      <img id="profile-img"
      class="self-avatar"
      src="<%= self.avatar %>" 
      alt="<%= self.name %> avatar"
      >

      <% } else{ %>
        <img 
        class="self-avatar"
        src=" " 
        alt="<%= self.name %> avatar"
        >
      <% } %> 
      <h1>Hi <%= self.name %>!</h1>
    </div>

    <div id="right">
      <section>
        <h1>Welcome to your Simply profile.</h1><br> 
        <p>Here you can view a list of employees you manage. Managing performance is extremely important. Simply helps you do all that you need to do to be the best manager you can be. You can do lot's of amazing things on Simply using the navigation bar up top: <br><br>
          <ul>
            <li>Add an Employee</li>
            <li>View All Employees</li>
            <li>Write a Review</li>
          </ul>
        </p><br>
      </section>

      <section>
          <h2 id="profile-bottom-header">Your Direct Reports:</h2>
          <ul>
            <% self.employees.forEach(employee => { %>
              <li><%= employee.eName %></li>
            <% }) %> 
          </ul>
        </section>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>

