<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h2 id="performance-review-header">Performance Review Form</h2>

<form 
  id="add-review-form"
  action="/reviews/employees"
  method="POST"
>
  <div class="input-group mb-3">
    <select class="form-select" id="inputGroupSelect02" name="employeeId">
      <% self.employees.forEach(employee => { %>
        <option value="<%= employee._id %>"><%= employee.eName %>
        </option>
        <% }) %>
    </select>
    <label class="input-group-text" for="inputGroupSelect02">Select Employee</label>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">What is awesome about this employee?</label>
    <input name="qOne" type="text" class="form-control" id="formGroupExampleInput">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">What can this employee improve?</label>
    <input name="qTwo" type="text" class="form-control" id="formGroupExampleInput2">
  </div>
  <h2>Overall Rating (Choose 1-5):</h2>
  <div class="input-group mb-3">
    <select name="rating" class="form-select" id="inputGroupSelect02">
      <option selected>Choose...</option>
      <option value="1">1 - Needs Improvement</option>
      <option value="2">2 - Below Expectations</option>
      <option value="3">3 - Meets Expectations</option>
      <option value="4">4 - Exceeds Expectations</option>
      <option value="5">5 - Far Exceeds Expectations</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect02">Select Rating</label>
  </div>
  <button id="submit-review-button" type="submit">Submit Performance Review</button>
</form>

<%- include('../partials/footer') %>